Attempting python implementation for Simple Linear Regression using data-set provided in Coursera's course

In [1]:
#importing relevant libraries
import pandas as pd
import matplotlib.pyplot as pl

In [2]:
#loading data
data=pd.read_csv('data1.csv')

In [3]:
#checking sample
data.loc[1:10]

    Population   Profit
1       5.5277   9.1302
2       8.5186  13.6620
3       7.0032  11.8540
4       5.8598   6.8233
5       8.3829  11.8860
6       7.4764   4.3483
7       8.5781  12.0000
8       6.4862   6.5987
9       5.0546   3.8166
10      5.7107   3.2522

In [4]:
#Setting Training data 
X=data.iloc[:,0:1]
y=data.iloc[:,1]

In [5]:
#checking Training data
X.loc[1:10]

    Population
1       5.5277
2       8.5186
3       7.0032
4       5.8598
5       8.3829
6       7.4764
7       8.5781
8       6.4862
9       5.0546
10      5.7107

In [6]:
y.loc[1:10]

1      9.1302
2     13.6620
3     11.8540
4      6.8233
5     11.8860
6      4.3483
7     12.0000
8      6.5987
9      3.8166
10     3.2522
Name: Profit, dtype: float64

In [7]:
#going forward with regression
from sklearn.linear_model import LinearRegression
reg= LinearRegression().fit(X,y)
y_pred= reg.predict(X)

In [ ]:
#plotting things
plt.scatter(X,y,color='red')
plt.plot(X,y_pred,color='blue')
plt.xlabel("Population")
plt.ylabel("Profit")
plt.title("Population v/s Profit")
plt.show()